# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Backup files
assets_backup/
*.backup
*.bak

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel